#faq {
  .top-header {
    position: relative;
    width: 100%;
    .background-cover {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      min-height: 450px;
      @media screen and (max-width: 1024px) {
        min-height: unset;
      }

      .container {
        max-width: 960px;
        margin: 0 auto;
        padding-top: 120px;

        @media screen and (max-width: 1024px) {
          max-width: 90%;
          padding-top: 0;
        }
      }

      .header-bg {
        object-fit: cover;
        z-index: -1;
      }
    }
  }
  .content {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;

    .container {
      max-width: 960px;
      margin: 0 auto;

      @media screen and (max-width: 1024px) {
        max-width: 90%;
      }
    }

    h2 {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 0.8px;
      color: #444444;
      margin-top: 0;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      line-height: 1.7;
      letter-spacing: 0.8px;
      color: #545454;
      margin-bottom: 30px;
      white-space: pre-line;

      &.bold {
        font-weight: bold;
      }
    }
  }
}
